<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :club_id %><br>
    <%= f.select "club_id", options_from_collection_for_select(@clubs, "id", "name") %><br>
    <%= f.label :time %><br>
    <%= f.datetime_select :time, start_year: Date.today.year, end_year: Date.today.year + 2, start_hour: 9, end_hour: 17, minute_step: 20 %>
  </div>
  <div class="actions">
    <%= f.submit "Reserve!", class: "btn btn-success" %>
  </div>
<% end %>